/* Copyright 2002-2010 by Manfred Tremmel */
/* KnightSoft-Net Stylesheet */

body						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-style:normal;
								font-variant:normal;
								font-weight:normal;
								text-decoration:none;
								background:white;
								color:black;
							}

a.abutton:link				{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								line-height:16px;
								font-weight: bold;
								text-decoration:none;
								text-align:center;
								color:black;
								background:white;
								margin-top:2px;
								margin-bottom:2px;
							}

a.abutton:visited			{	color:gray;
								background:white;
							}

a.abutton:active			{	color:blue;
								background:white;
							}

a.copy						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-align:center;
								vertical-align:bottom;
							}

a.nav						{	text-decoration:none;
								padding-top:0px;
								padding-bottom:0px;
								margin:0px;
							}

a.liganav					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-align:right;
								color:black;
								background-color:white;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
							}

a.liganav:hover				{	color:#0000ff;
								background-color:white;
							}

a.liganav:visited			{	color:#202020;
								background-color:white;
							}

a.tipp						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:16px;
								color:black;
								background-color:white;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
							}

a.tipp:hover				{	color:#0000ff;
								background-color:white;
							}

a.tipp:visited				{	color:#202020;
								background-color:white;
							}

button						{	border-style:none;
								border-width:0px;
								color:#202020;
								background-color:white;
								margin-top:0px;
								margin-bottom:0px;
								margin-left:0px;
								margin-right:0px;
								padding-top:0px;
								padding-bottom:0px;
								padding-left:0px;
								padding-right:0px;
							}

button:hover				{	color:black;
								background-color:#b0e0e6;
							}

div							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								color:black;
								background-color:white;
								text-decoration:none;
							}

div#suchgesamt				{	position:absolute; width:600px; height:200px; top:0px; left:0px;
								margin-left:-300px; left:50%;
								color:black;
								background-color:white;
								padding:0px;
								border-width:0pt;
							}

div#ebene1					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								visibility:visible;
								z-index:98;
							}

div#ebene2					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								z-index:6; visibility:hidden;
							}

div#ebene3					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								z-index:5; visibility:hidden;
							}

div#ebene4					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								visibility:visible;
								z-index:4; visibility:hidden;
							}

div#ebene5					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								visibility:visible;
								z-index:3; visibility:hidden;
							}

div#ebene6					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								visibility:visible;
								z-index:2; visibility:hidden;
							}

div#ebene7					{	position:absolute; width:600px; height:116px; left:0px; top:38px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								padding:5px;
								visibility:visible;
								z-index:1; visibility:hidden;
							}

div#tab1					{	position:absolute; width:66px; left:0px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:99;
							}

div#tab2					{	position:absolute; width:76px; left:69px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:6;
							}

div#tab3					{	position:absolute; width:91px; left:148px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:5;
							}

div#tab4					{	position:absolute; width:91px; left:242px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:4;
							}

div#tab5					{	position:absolute; width:91px; left:336px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:3;
							}

div#tab6					{	position:absolute; width:86px; left:430px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:2;
							}

div#tab7					{	position:absolute; width:80px; left:519px; top:20px; height:20px;
								color:black;
								background-color:#CCFFCC;
								border-width:thin; border-style:outset; border-color:#999999;
								border-bottom-width:0pt;
								text-align:center;
								z-index:1;
							}

div#buttons					{	position:absolute; width:600px; height:28px; left:0px; top:168px;
								color:black;
								background-color:white;
								border-width:0pt;
								text-align:center;
								z-index:999;
							}

div#hiddentab				{	position:absolute; width:1px; height:1px; left:0px; top:38px;
								border-width:0pt;
								text-align:center;
								z-index:1;
							}

div.norm					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:normal;
							}

div.small,div.up			{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
							}

div.AVISIBLE				{	visibility:visible;
								height:5px;
								overflow:visible;
								display:inline;
							}

div.AHIDDEN					{	visibility:hidden;
								height:0px;
								overflow:hidden;
								display:none;
							}

div.LVISIBLE				{	visibility:visible;
								height:5px;
								overflow:visible;
								display:inline;
  							}

div.LHIDDEN					{	visibility:hidden;
  								height:0px;
								overflow:hidden;
								display:none;
  							}

div#logo					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								position:fixed;
								left:0px;
								top:0px;
								width:23%;
								height:20%;
								text-align:center;
								vertical-align:top;
								color:black;
								background-color:white;
								min-width:102px;
								min-height:125px;
								overflow:visible;
							}

div#nav						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								position:fixed;
								left:0px;
								top:0px;
								width:23%;
								height:90%;
								text-align:center;
								vertical-align:top;
								color:black;
								background-color:white;
								min-width:102px;
								overflow:auto;
							}

div#copy					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								text-align:center;
								position:fixed;
								vertical-align:bottom;
								width:23%;
								height:9%;
								left:0px;
								top:90%;
								color:black;
								background-color:white;
								overflow:visible;
								min-width:102px;
								min-height:26px;
							}

div#head					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								text-align:center;
								color:blue;
								background-color:#f7f7f7;
								position:absolute;
								left:23%;
								top:0px;
								width:76%;
								height:5%;
								overflow:visible;
								min-width:500px;
								min-height:20px;
							}
div#body					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								position:absolute;
								left:23%;
								top:5%;
								width:76%;
								height:93%;
								overflow:auto;
								padding-left:5px;
								min-width:500px;
								min-height:300px;
							}

div.navtop					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								overflow:hidden;
								padding-left:5px;
								padding-top:0px;
								padding-bottom:0px;
								margin-top:2px;
								white-space:nowrap;
							}

div.navdiv					{	overflow:hidden;
								padding-left:16px;
								padding-top:0px;
								padding-bottom:0px;
								margin-top:2px;
								white-space:nowrap;
							}

div.navdivpoint				{	overflow:hidden;
								padding-left:16px;
								padding-top:0px;
								padding-bottom:0px;
								margin:0px;
								white-space:nowrap;
							}

#menu, #menu ul				{	text-align:left;
								margin:0;
								padding:0;
							}

#menu li					{	margin:0 0 2px 20px;
								color: black;
								background-color:white;
								font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								text-decoration:none;
								padding:0;
								list-style-type:none;
								white-space:nowrap;
							}

h1							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:20px;
								font-weight:bold;
								text-align:center;
							}

h1.ueb						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:16px;
								text-align:center;
							}

h2							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:18px;
								font-weight:bold;
								text-align:center;
							}

h2.service					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:18px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								line-height:19px;
							}

h2#suchueb					{	position:absolute;
								width:600px; height:18px;
								left:10px; top:0px;
								margin-top:0px; margin-bottom:2px;
							}

h3							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:16px;
								font-weight:bold;
								text-align:center;
								font-style:italic;
							}

h4							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:16px;
								font-weight:bold;
							}

img							{	border-style:none;
								border-width:0px;
								margin-top:0px;
								margin-bottom:0px;
								margin-left:0px;
								margin-right:0px;
								padding-top:0px;
								padding-bottom:0px;
								padding-left:0px;
								padding-right:0px;
							}

input,select				{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-decoration:none;
								color:black;
								background-color:white;
							}

input.faulty				{	color:red;
								background-color:white;
							}

input.default				{	color:black;
								background-color:white;
							}

input#dummysubmit			{	border-style:none;
								border-width:0px;
								width:0px;
								height:0px;
								color:#fffffe;
								background-color:white;
							}

label.complusion			{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-decoration:none;
								color:black;
								background-color:white;
							}

label.free					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-decoration:none;
								color:gray;
								background-color:white;
							}

p,li,td,input				{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								font-weight:normal;
							}

p.center					{	text-align:center;
							}

th							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
							}

td.ueb						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								color:red;
								background-color:#FFCCCC;
								font-size:16px;
								text-align:center;
							}

p.shr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:right;
								white-space:nowrap;
							}

p.shl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:left;
								white-space:nowrap;
							}

p.shc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:center;
								white-space:nowrap;
							}

p.spr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:right;
								white-space:nowrap;
								color:black;
							}

p.sprlog					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								color:red;
								background-color:transparent;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:right;
								white-space:nowrap;
							}

p.spl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:left;
								white-space:nowrap;
                color:black;
							}

p.spllog					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								color:red;
								background-color:transparent;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:left;
								white-space:nowrap;
							}

p.spc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:center;
								white-space:nowrap;
								color:black;
							}

p.spco					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								color:red;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:center;
								white-space:nowrap;
							}

p.spclog					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								color:red;
								background-color:transparent;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
								text-align:center;
								white-space:nowrap;
							}

p.thr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:right;
								white-space:nowrap;
							}

p.thl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:left;
								white-space:nowrap;
							}

p.thc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:center;
								white-space:nowrap;
							}

p.tpr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:right;
								white-space:nowrap;
                color:black;
							}

p.tpl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:left;
								white-space:nowrap;
                color:black;
							}

p.tpc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:2px;
								margin-right:2px;
								text-align:center;
								white-space:nowrap;
                color:black;
							}

p.tpsr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:right;
								white-space:nowrap;
								color:black;
							}

p.tpsl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:left;
								white-space:nowrap;
                color:black;
							}

p.tpsc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:center;
								white-space:nowrap;
                color:black;
							}

p.tptr						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:4px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:right;
								white-space:nowrap;
							}

p.tptl						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:4px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:left;
								white-space:nowrap;
							}

p.tptc						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:4px;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:0px;
								margin-right:0px;
								text-align:center;
								white-space:nowrap;
							}

p.anmerkung					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:10px;
								margin-top:10px;
								margin-bottom:10px;
								text-indent:-0.5cm;
								margin-left:0.5cm;
							}

p.anzeige					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-align:left;
								margin-top:3px;
								margin-bottom:3px;
							}

table.navigationbar			{
								width: 700px;
								margin-left: auto;
								margin-right: auto;
								border-style: none;
							}

table.login					{
								margin-left: auto;
								margin-right: auto;
								border-style: none;
							}

table.fullborder			{
								width: 100%;
								margin-left: auto;
								margin-right: auto;
								border-style: solid;
								border-width: thin;
								border-collapse: collapse;
								border-color: #b0c4de;
							}

th							{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:14px;
								font-weight:bold;
								margin-top:2px;
								margin-bottom:2px;
								margin-left:4px;
								margin-right:4px;
							}

th.border					{
								border-style: solid;
								border-width: thin;
								border-color: #b0c4de;
								color:black;
								background-color: #b0e0e6;
							}

th.nav						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								font-weight:bold;
								text-align:center;
								color:black;
								background-color:#00FF7F;
							}

td.ueb						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								color:red;
								background-color:#FFCCCC;
								font-size:16px;
								text-align:center;
							}

td.nav						{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-align:center;
								vertical-align:top;
								color:black;
								background-color:#DCDCDC;
							}

td.topnav					{	font-family:Verdana,Arial,Helvetica,sans-serif;
								font-size:12px;
								text-align:center;
								vertical-align:top;
								color:black;
								background-color:white;
								border-style:none;
								border-width:0px;
								margin-top:0px;
								margin-bottom:0px;
								margin-left:0px;
								margin-right:0px;
								padding-top:0px;
								padding-bottom:0px;
								padding-left:0px;
								padding-right:0px;
							}

td.left						{	text-align: left;
							}

td.right					{	text-align: right;
							}

td.center					{	text-align: center;
							}

td.borderleft				{
								text-align: left;
								border-style: solid;
								border-width: thin;
								border-color: #b0c4de;
							}

td.borderright				{
								text-align: right;
								border-style: solid;
								border-width: thin;
								border-color: #b0c4de;
							}

td.bordercenter				{
								text-align: center;
								border-style: solid;
								border-width: thin;
								border-color: #b0c4de;
							}


@media (prefers-color-scheme: dark) {
	:root:not(.light):not(.dark) {
		--text-primary:#fff;
		--text-secondary: #cdcdcd;
		--text-inactive: #cdcdcda6;
		--text-link: #8cb4ff;
		--text-invert: #1b1b1b;
		--background-primary: #1b1b1b;
		--background-secondary: #343434;
		--background-tertiary: #4e4e4e;
		--background-toc-active: #343434;
		--background-mark-yellow: rgba(199,183,0,.4);
		--background-mark-green: rgba(0,208,97,.4);
		--background-information: rgba(0,133,242,.1);
		--background-warning: rgba(255,42,81,.1);
		--background-critical: rgba(211,0,56,.1);
		--background-success: rgba(0,121,54,.1);
		--border-primary: #858585;
		--border-secondary: #696969;
		--button-primary-default: #fff;
		--button-primary-hover: #cdcdcd;
		--button-primary-active: #9e9e9e;
		--button-primary-inactive: #fff;
		--button-secondary-default: #4e4e4e;
		--button-secondary-hover: #858585;
		--button-secondary-active: #9e9e9e;
		--button-secondary-inactive: #4e4e4e;
		--button-secondary-border-focus: #0085f2;
		--button-secondary-border-red: #ff97a0;
		--button-secondary-border-red-focus: #ffd9dc;
		--icon-primary: #fff;
		--icon-secondary: #b3b3b3;
		--icon-information: #5e9eff;
		--icon-warning: #afa100;
		--icon-critical: #ff707f;
		--icon-success: #00b755;
		--accent-primary: #5e9eff;
		--accent-primary-engage: rgba(94,158,255,.1);
		--accent-secondary: #5e9eff;
		--accent-tertiary: rgba(0,133,242,.1);
		--shadow-01: 0 1px 2px rgba(251,251,254,.2);
		--shadow-02: 0 1px 6px rgba(251,251,254,.2);
		--focus-01: 0 0 0 3px rgba(251,251,254,.5);
		--field-focus-border: #fff;
		--code-token-tag: #c1cff1;
		--code-token-punctuation: #b3b3b3;
		--code-token-attribute-name: #ff97a0;
		--code-token-attribute-value: #00d061;
		--code-token-comment: #b3b3b3;
		--code-token-default: #fff;
		--code-token-selector: #bea5ff;
		--code-background-inline: #343434;
		--code-background-block: #343434;
		--notecard-link-color: #e2e2e2;
		--scrollbar-bg: transparent;
		--scrollbar-color: hsla(0,0%,100%,.25);
		--category-color: #8cb4ff;
		--category-color-background: #8cb4ff70;
		--code-color: #c1cff1;
		--mark-color: #004d92;
		--plus-accent-color: #ff97a0;
		--html-accent-color: #ff707f;
		--css-accent-color: #8cb4ff;
		--js-accent-color: #afa100;
		--http-accent-color: #00b755;
		--apis-accent-color: #ae8aff;
		--learn-accent-color: #ff6d91;
		--plus-code-color: #c1cff1;
		--html-code-color: #f9f9fb;
		--css-code-color: #c1cff1;
		--js-code-color: #c7b700;
		--http-code-color: #00d061;
		--apis-code-color: #bea5ff;
		--learn-code-color: #ff93aa;
		--plus-mark-color: #9e0027;
		--html-mark-color: #9e0027;
		--css-mark-color: #004d92;
		--js-mark-color: #564e00;
		--http-mark-color: #005a26;
		--apis-mark-color: #6800cf;
		--learn-mark-color: #9e0041;
		--plus-accent-background-color: #ff2a5130;
		--html-accent-background-color: #ff2a5130;
		--css-accent-background-color: #0085f230;
		--js-accent-background-color: #93870030;
		--http-accent-background-color: #009a4630;
		--apis-accent-background-color: #9b65ff30;
		--learn-accent-background-color: #ff1f7230;
		--plus-accent-engage: rgba(255,112,127,.7);
		--html-accent-engage: rgba(255,112,127,.7);
		--css-accent-engage: rgba(140,180,255,.7);
		--js-accent-engage: rgba(175,161,0,.7);
		--http-accent-engage: rgba(0,183,85,.7);
		--apis-accent-engage: rgba(174,138,255,.7);
		--learn-accent-engage: rgba(255,109,145,.7);
		--modal-backdrop-color: rgba(27,27,27,.7);
		--blend-color: #00080;
		--text-primary-red: #ff97a0;
		--text-primary-green: #00d061;
		--text-primary-blue: #8cb4ff;
		--text-primary-yellow: #c7b700;
		--collections-link: #ff97a0;
		--collections-header: #40000a;
		--collections-mandala: #9e0027;
		--collections-icon: #d30038;
		--updates-link: #8cb4ff;
		--updates-header: #000;
		--updates-mandala: #c1cff1;
		--updates-icon: #8cb4ff;
		--form-limit-color: #9e9e9e;
		--form-limit-color-emphasis: #b3b3b3;
		--form-invalid-color: #ff97a0;
		--form-invalid-focus-color: #ff707f;
		--form-invalid-focus-effect-color: rgba(255,112,127,.2);
		color-scheme: dark
	}

	body {
		background: #121212;
		color: #eee;
	}

	header {
		background: black;
	}

	a.abutton:link {
		color:white;
		background:black;
	}

	a.abutton:visited {
		color:gray;
		background:black;
	}

	a.abutton:active {
		color:blue;
		background:black;
	}

	a.liganav {
		color:white;
		background-color:black;
	}

	a.liganav:hover {
		color:#ffff00;
		background-color:black;
	}

	a.liganav:visited {
		color:#dfdfdf;
		background-color:black;
	}

	a.tipp {
		color:white;
		background-color:black;
	}

	a.tipp:hover {
		color:#ffff00;
		background-color:black;
	}

	a.tipp:visited {
		color:#dfdfdf;
		background-color:black;
	}

	button {
		color:#dfdfdf;
		background-color:black;
	}

	button:hover {
		color:white;
		background-color:#4f1f19;
	}

	div {
		color:white;
		background-color:black;
	}

	div#suchgesamt {
		color:white;
		background-color:black;
	}

	div#ebene1,
	div#ebene2,
	div#ebene3,
	div#ebene4,
	div#ebene5,
	div#ebene6,
	div#ebene7,
	div#tab1,
	div#tab2,
	div#tab3,
	div#tab4,
	div#tab5,
	div#tab6,
	div#tab7 {
		color:white;
		background-color:#330033;
		border-color:#666666;
	}

	div#buttons,
	div#logo,
	div#nav,
	div#copy,
	#menu li,
	input,select,
	input.default,
	input#dummysubmit,
	label.complusion,
	label.free{
		color:white;
		background-color:black;
	}

	div#head {
		color:blue;
		background-color:#080808;
	}

	input.faulty {
		color:red;
		background-color:black;
	}

	td.ueb,
	p.spco{
		color:red;
	}

	p.sprlog,
	p.spllog,
	p.spclog{
		color:red;
		background-color:transparent;
	}

	th.nav {
		color:white;
		background-color:#ff0800;
	}

	td.nav {
		color:white;
		background-color:#232323;
	}

  td.topnav {
    background-color:black;
	}
}
